<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ block "title" . }}{{ .Title }}{{ if not .IsHome }} - {{ site.Title }}{{ end }}{{ end }}</title>
  {{ printf "<!-- Metadata -->" | safeHTML }}
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
  {{ with site.Params.author.name }}<meta name="author" content="{{ . }}">{{ end }}
  {{ hugo.Generator }}
  <meta name="theme-color" content="#f44336">
  <meta name="color-scheme" content="dark light">
  <link rel="canonical" href="{{ .Permalink }}">
  {{- if .IsTranslated }}
  {{- range .Translations }}
  <link rel="alternate" href="{{ .Permalink }}" hreflang="{{ .Language.LanguageCode }}" title="{{ .Language.LanguageName }}">
  {{- end }}
  {{- end }}
  {{ printf "<!-- Social -->" | safeHTML }}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ printf "<!-- Icons -->" | safeHTML }}
  <link rel="shortcut icon" type="image/x-icon" href="{{ relURL "favicon.ico" }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ relURL "img/favicon-16x16.png" }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ relURL "img/favicon-32x32.png" }}">
  <link rel="icon" type="image/png" sizes="48x48" href="{{ relURL "img/favicon-48x48.png" }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ relURL "img/android-chrome-192x192.png" }}">
  <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ relURL "img/apple-touch-icon.png" }}">
  {{ printf "<!-- Stylesheets -->" | safeHTML }}
  <link rel="preload" href="{{ relURL "fonts/open-sans/OpenSans-Italic-VariableFont_wdth,wght.woff2" }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ relURL "fonts/open-sans/OpenSans-VariableFont_wdth,wght.woff2" }}" as="font" type="font/woff2" crossorigin>
  {{- $sass := resources.Get "css/style.scss" | css.Sass }}
  <link rel="stylesheet" href="{{ $sass.RelPermalink }}">
</head>
<body>
{{ block "navbar" . }}{{ partial "navbar.html" . }}{{ end }}
{{ block "main" . }}{{ end }}
{{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
</body>
</html>
