{{ define "main" -}}
<main>
  <header class="primary-header bg-neutral-200">
    <div class="wrapper">
      {{ partial "breadcrumb.html" . }}
      <h1>{{ .Title }}</h1>
      {{- with .Description }}
      <p class="lead">{{ . }}</p>
      {{- end }}
    </div>
  </header>
  <div class="wrapper py-3">
    {{ with .Content }}{{ . }}{{ end }}
    {{- with .Pages }}
    <div class="card-list">
      {{- range . }}
      <article class="card">
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        {{- if .IsPage }}
        {{- with .Date }}
        <p class="text-muted"><time {{ .Format "2006-01-02T15:04:05-07:00" | printf "datetime=%q" | safeHTMLAttr }}>{{ time.Format ":date_long" . }}</time></p>
        {{- end }}
        {{- end }}
        {{ with .Description }}<p>{{ . }}</p>{{ else }}{{ with .Summary }}{{ . }}{{ end }}{{ end }}
      </article>
      {{- end }}
    </div>
    {{- else }}
    <div class="alert mb-0">
      {{ i18n "list_no_results" }}
    </div>
    {{- end }}
  </div>
</main>
{{- end }}
