{{ define "main" -}}
<main>
  <header class="primary-header">
    <div class="wrapper">
      {{ partial "breadcrumb.html" . }}
      <h1>{{ .Title }}</h1>
      {{- with .Description }}
      <p class="lead">{{ . }}</p>
      {{- end }}
    </div>
  </header>
  <div class="wrapper py-3">
    {{ .Content }}
  </div>
</main>
{{- end }}
