// Fonts

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/open-sans/OpenSans-VariableFont_wdth,wght.woff2);
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/open-sans/OpenSans-Italic-VariableFont_wdth,wght.woff2);
}

// Root

:root {
  color-scheme: light;

  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #eeeeee;
  --color-neutral-300: #e0e0e0;
  --color-neutral-400: #bdbdbd;
  --color-neutral-500: #9e9e9e;
  --color-neutral-600: #757575;
  --color-neutral-700: #616161;
  --color-neutral-800: #424242;
  --color-neutral-900: #212121;

  --color-primary-100: #ffcdd2;
  --color-primary-200: #ef9a9a;
  --color-primary-300: #e57373;
  --color-primary-400: #ef5350;
  --color-primary-500: #f44336;
  --color-primary-600: #e53935;
  --color-primary-700: #d32f2f;
  --color-primary-800: #c62828;
  --color-primary-900: #b71c1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --color-neutral-100: #212121;
    --color-neutral-200: #424242;
    --color-neutral-300: #616161;
    --color-neutral-400: #757575;
    --color-neutral-500: #9e9e9e;
    --color-neutral-600: #bdbdbd;
    --color-neutral-700: #e0e0e0;
    --color-neutral-800: #eeeeee;
    --color-neutral-900: #f5f5f5;

    --color-primary-100: #b71c1c;
    --color-primary-200: #c62828;
    --color-primary-300: #d32f2f;
    --color-primary-400: #e53935;
    --color-primary-500: #f44336;
    --color-primary-600: #ef5350;
    --color-primary-700: #e57373;
    --color-primary-800: #ef9a9a;
    --color-primary-900: #ffcdd2;
  }
}

// Box sizing

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Selection

::selection {
  background-color: var(--color-neutral-900, #212121);
  color: var(--color-neutral-100, #f5f5f5);
}

// Target text

::target-text {
  background-color: var(--color-primary-500, #f44336);
}

// Body

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--color-neutral-100, #f5f5f5);
  color: var(--color-neutral-900, #212121);
}

// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.25;
}

h1 {
  font-size: 2.5rem;
  // font-weight: 900;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

// Paragraphs

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

// Lists

ol,
ul {
  padding-left: 2rem;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

// Abbreviations

abbr {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

// Addresses

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

// Blockquotes

blockquote {
  margin: 0 0 1rem;
  font-size: 1.25rem;

  > :last-child {
    margin-bottom: 0;
  }
}

// Strong

b,
strong {
  font-weight: bolder;
}

// Small

small {
  font-size: 0.75em;
}

// Mark

mark {
  padding: 0.125em 0.25em;
  background-color: var(--color-primary-500, #f44336);
}

// Sub and sup

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

// Links

a {
  color: var(--color-primary-800, #c62828);
  &:hover {
    color: var(--color-primary-600, #e53935);
  }
  // &:visited {
  //   color: var(--color-primary-600, #e53935);
  // }
  &:active {
    color: var(--color-primary-500, #f44336);
  }
}

// Preformatted

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--color-neutral-800, #424242);

  code {
    color: inherit;
    word-break: normal;
  }
}

// Code

code {
  color: var(--color-primary-800, #c62828);
  word-wrap: break-word;
}

// keyboard

kbd {
  padding: 0.125em 0.25em;
  color: var(--color-neutral-800, #424242);
  background-color: var(--color-neutral-200, #eeeeee);

  kbd {
    padding: 0;
  }
}

// Figures

figure {
  margin: 0 0 1rem;
}

// Images

img,
svg {
  max-width: 100%;
  vertical-align: middle;
}

// Layout

// Wrapper

.wrapper {
  width: 100%;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;

  &--small {
    max-width: 720px;
  }
}

// Components

// Alert

.alert {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--color-neutral-200, #eeeeee);

  &--primary {
    background-color: var(--color-primary-200, #ef9a9a);
  }
}

// Breadcrumb

.breadcrumb {
  display: flex;
  gap: 0.5rem;
  padding-left: 0;
  list-style: none;

  li + li::before {
    content: "/";
    margin-inline-end: 0.5rem;
  }
}

// Cards

.card {
  padding: 1rem;
  background-color: var(--color-neutral-200, #eeeeee);

  & > :last-child {
    margin-bottom: 0;
  }
}

// Card lists

.card-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

// Footer

.footer {
  padding: 1rem 0;
  // background-color: var(--color-neutral-200);
}

// Highlight

.highlight > pre {
  padding: 1rem;
}

// Navbar

.navbar {
  padding: 1rem 0;
  background-color: var(--color-neutral-200, #eeeeee);

  &__title {
    font-size: 1.125rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-neutral-900, #212121);
  
    &:hover {
      color: var(--color-neutral-700, #616161);
    }
  }

  &__nav {
    display: inline-block;
  }

  &__title + &__nav {
    margin-left: 1rem;
  }
}

// Primary header

.primary-header {
  padding: 2rem 0;
  min-height: 200px;
  align-content: center;
  // background-color: var(--color-neutral-200);

  &--large {
    min-height: 300px;
  }

  > :last-child,
  > .wrapper > :last-child {
    margin-bottom: 0;
  }
}

// Utilities

// Display

.d-flex {
  display: flex;
}

// Spacing

.mb-0 {
  margin-bottom: 0;
}

.mt-3 {
  margin-top: 1rem;
}

.ml-auto {
  margin-left: auto;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

// Text

.text-muted {
  color: var(--color-neutral-700, #616161);
}

.lead {
  font-size: 1.25rem;
  color: var(--color-neutral-700, #616161);
}

// Backgrounds

.bg-neutral-200 {
  background-color: var(--color-neutral-200, #eeeeee);
}

// Stacks

.hstack {
  display: flex;
  gap: 0.5rem;
}

// Lists

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  > li {
    display: inline-block;
    margin-inline-end: 0.5rem;

    &:last-child {
      margin-inline-end: 0;
    }
  }
}
