{{ define "main" -}}
<main>
  <article>
    <header class="primary-header">
      <div class="wrapper wrapper--small">
        {{ partial "breadcrumb.html" . }}
        {{- with .GetTerms "series" }}
          <ul class="list-inline mb-0">
            {{ range . }}
              <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
            {{ end }}
          </ul>
          {{- end }}
        <h1>{{ .Title }}</h1>
        {{- with .Description }}
        <p class="lead">{{ . }}</p>
        {{- end }}
        <div class="hstack">
          {{- with .PublishDate }}
          <p class="mb-0"><time {{ .Format "2006-01-02T15:04:05-07:00" | printf "datetime=%q" | safeHTMLAttr }}>{{ . | time.Format ":date_medium" }}</time></p>
          {{- end }}
          {{- with .GetTerms "categories" }}
          <ul class="list-inline mb-0">
            {{ range . }}
              <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
            {{ end }}
          </ul>
          {{- end }}
        </div>
      </div>
    </header>
    <div class="wrapper wrapper--small py-3">
      {{ .Content }}
    </div>
    {{- with .GetTerms "tags" }}
    <footer>
      <div class="wrapper wrapper--small py-3">
        <div class="hstack text-muted">
          <ul class="list-inline mb-0">
            {{- range . }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
            {{- end }}
          </ul>
        </div>
      </div>
    </footer>
    {{- end }}
  </article>
</main>
{{- end }}
