{{- if .Ancestors.Reverse }}
<nav aria-label="{{ i18n "breadcrumb" }}">
  <ol class="breadcrumb">
    {{- range .Ancestors.Reverse }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </li>
    {{- end }}
  </ol>
</nav>
{{- end }}