<header class="navbar">
  <div class="wrapper d-flex">
    <a class="navbar__title" href="{{ site.Home.RelPermalink }}">{{ site.Title }}</a>
    {{- with site.Menus.main }}
    <nav class="navbar__nav" aria-label="{{ i18n "primary_navigation" }}">
      <ul class="list-inline mb-0">
        {{- range . }}
        <li>
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{- end }}
      </ul>
    </nav>
    {{- end }}
    {{- with .Translations }}
    <ul class="list-inline mb-0 ml-auto">
      {{ range . }}
        <li>
          <a href="{{ .RelPermalink }}" hreflang="{{ .Language.LanguageCode }}">{{ or .Language.LanguageName .Language.Lang }}</a>
        </li>
      {{ end }}
    </ul>
    {{- end }}
  </div>
</header>