{{ define "title" -}}{{ i18n "page_not_found" }} - {{ site.Title }}{{- end }}

{{ define "main" -}}
<main>
  <div class="wrapper py-3">
    <h1>{{ i18n "page_not_found" }}</h1>
    <p>{{ i18n "page_not_found_description" }}</p>
    <p><a href="{{ site.Home.RelPermalink }}">{{ i18n "back_to_home" }}</a></p>
  </div>
</main>
{{- end }}
