{{ define "main" -}}
<main>
  <header class="primary-header primary-header--large bg-neutral-200">
    <div class="wrapper">
      <h1>{{ .Title }}</h1>
      {{- with .Description }}
      <p class="lead">{{ . }}</p>
      {{- end }}
    </div>
  </header>
  <div class="wrapper py-3">
    {{ with .Content }}{{ . }}{{ end }}
  </div>
  {{ range where .Site.Sections "Section" "in" .Site.MainSections }}
  <section class="py-3">
    <div class="wrapper">
      <h2>{{ .LinkTitle }}</h2>
      {{- with .Description }}
      <p>{{ . }}</p>
      {{- end }}
      {{- with .Pages }}
      <div class="card-list">
        {{- range first 3 . }}
        <article class="card">
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          {{- if .IsPage }}
          {{- with .Date }}
          <p class="text-muted"><time {{ .Format "2006-01-02T15:04:05-07:00" | printf "datetime=%q" | safeHTMLAttr }}>{{ time.Format ":date_long" . }}</time></p>
          {{- end }}
          {{- end }}
          {{- with .Description }}
          <p>{{ . }}</p>
          {{- else }}
          {{- with .Summary }}
          {{ . }}
          {{- end }}
          {{- end }}
        </article>
        {{- end }}
      </div>
      {{- else }}
      <div class="alert mb-0">
        {{ i18n "list_no_results" }}
      </div>
      {{- end }}
      {{- if gt (len .Pages) 3 }}
      <p class="mt-3"><a href="{{ .RelPermalink }}">Show more</a></p>
      {{- end }}
    </div>
  </section>
  {{ end }}
</main>
{{- end }}
